:root {
	--checker-font-size: 1rem;
	--checker-padding: 0.5rem;
	--document-padding: 2rem;

	--light-switch-icon: "🌙";
	/* --light-switch-icon: "Dark"; */
	--light-text: #333333;
	--light-hyperlink: #0000EE;
	--light-hyperlink-visited: #663399;
	--light-bg: #F8F8F8;

	--dark-switch-icon: "☀️";
	/* --dark-switch-icon: "Light"; */
	--dark-text: #CCCCCC;
	--dark-hyperlink: #66B2FF;
	--dark-hyperlink-visited: #B19CD9;
	--dark-bg: #222222;

	--switch-icon: var(--light-switch-icon);
	--text-color: var(--light-text);
	--hyperlink-color: var(--light-hyperlink);
	--hyperlink-visited-color: var(--light-hyperlink-visited);
	--bg-color: var(--light-bg);

	--toc-opened-icon: "📖";
	/* --toc-opened-icon: "TOC"; */
	--toc-closed-icon: "📕";
	/* --toc-closed-icon: "toc"; */
	--toc-opener-icon: var(--toc-closed-icon);
	--toc-display-block: block;
	--toc-display-none: none;
	--toc-display: var(--toc-display-none);

	--blogs-opened-icon:"📂";
	--blogs-closed-icon:"📁";
	--blogs-opener-icon: var(--blogs-closed-icon);
	--blogs-display: none;
}

#theme-switcher {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

#theme-switcher-label::before {
	content: var(--switch-icon);
	position: fixed;
	top: 5rem;
	right: var(--checker-padding);
	font-size: var(--checker-font-size);
	z-index: 100;
}

#theme-switcher-label:hover::before {
	cursor: pointer;
}

#theme-switcher:checked ~ #page {
	--switch-icon: var(--dark-switch-icon);
	--text-color: var(--dark-text);
	--bg-color: var(--dark-bg);
	--hyperlink-color: var(--dark-hyperlink);
	--hyperlink-visited-color: var(--dark-hyperlink-visited);
}

#page {
	background: var(--bg-color);
	color: var(--text-color);
	display: flex;
	justify-content: center;
	padding: var(--document-padding);
}

#toc-opener {
	position: fixed;
	top: 0;
	right: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

#toc-opener:checked ~ #page {
	--toc-display: var(--toc-display-block);
	--toc-opener-icon: var(--toc-opened-icon);
}

#toc-opener-label::before {
	content: var(--toc-opener-icon);
	position: fixed;
	top: 1rem;
	right: var(--checker-padding);
	font-size: var(--checker-font-size);
	z-index: 100;
}

#toc-opener-label:hover::before {
	cursor: pointer;
}

#TableOfContents {	
	display: var(--toc-display);

	position: fixed;
	top: 0;
	right: 0;
	z-index: 5;
	width: 60%;
	min-height: 100vh;
	padding-right: var(--document-padding);

	border-style: solid;
	border-width: 1px;
	border-color: var(--text-color);
	background: var(--bg-color);
}

#blogs-opener {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

#blogs-opener:checked ~ #page {
	--blogs-display: block;
	--blogs-opener-icon: var(--blogs-opened-icon);
}

#blogs-opener-label::before {
	content: var(--blogs-opener-icon);
	position: fixed;
	top: 3rem;
	right: var(--checker-padding);
	font-size: var(--checker-font-size);
	z-index: 100;
}

#blogs:hover::before {
	cursor: pointer;
}

#blogs {	
	display: var(--blogs-display);

	position: fixed;
	top: 0;
	right: 0;
	z-index: 5;
	width: 60%;
	min-height: 100vh;
	padding-right: var(--document-padding);

	border-style: solid;
	border-width: 1px;
	border-color: var(--text-color);
	background: var(--bg-color);
}

.content {
	display: flex;
	flex-direction: column;
	align-content: center;
	max-width: 768px;
	min-height: 100vh;
}

a:link {
	color: var(--hyperlink-color);
}

a:visited {
	color: var(--hyperlink-visited-color);
}

body {
	/* color: #222; */
	margin: 0;
	font-family: sans-serif;
}

img {
	max-width: 100%;
}
