<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
	{{ partial "head.html" . }}

	{{ if .Param "math" }}
		{{ partialCached "math.html" . }}
	{{ end }}

</head>
<body>
	<input type="checkbox" id="theme-switcher">
	<input type="checkbox" id="toc-opener">

	<div class="content"> 
		<label for="toc-opener" id="toc-opener-label"></label>

		<header>
			{{ partial "header.html" . }}
		</header>
		<main>
			{{ block "main" . }}{{ end }}
		</main>
			
		{{ .TableOfContents }}

		<div id="footer">
			{{ partial "footer.html" . }}
		</div>
	</div>
</body>
</html>
