{{ $pages := site.RegularPages }}
{{ $paginator := .Paginate $pages.ByDate.Reverse 8 }}

<div class="content-list">
{{ range $paginator.Pages }}
	{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
	{{ $dateHuman := .Date | time.Format ":date_long" }}
	<div>
		<div style="display:flex;flex-direction:column;">			
			<strong><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></strong> 
			<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
		</div>
		<p>
			{{ .Summary | plainify }}
		</p>
		{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
	</div>
{{ end }}
</div>

{{ partial "paginator.html" . }}
